
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #D4DFC7;
    }
    header {
        background-color: #39393A;
        color: #fff;
        padding: 10px 0;
        text-align: center;
        display: flex;
        justify-content: space-around;
        align-items: center;

        
    }
    .container {
        max-width: 1200px;
        margin: 0 auto;    
    }
    .product {
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        padding: 20px;
        margin: 0 10px 24px;
    }
    .product img {
        max-width: 100%;
        height: auto;
    }
    .product h2 {
        margin-top: 0;
    }
    .product p {
        margin-bottom: 10px;
    }
    button {
        border: none;
        border-radius: 8px;
        height: 32px;
        background-color: #012622;
        color: white;
        transition: 0.5s;
        cursor: pointer;
    }
    button:hover {
        background-color: #568259;
        color: #ffffff;
    }
    .titulo {
        text-align: center;
        margin-top: 24px;
    }
    
